<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27057715649-chgpijub3a6g0c9252gsuir3aeqdruae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27057715649-chgpijub3a6g0c9252gsuir3aeqdruae</string>
	<key>API_KEY</key>
	<string>AIzaSyAcCgazFmlt9AuVpizhaMzagxzVYSppHU8</string>
	<key>GCM_SENDER_ID</key>
	<string>27057715649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.getweys.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatswift-d8d20</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatswift-d8d20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27057715649:ios:41543d87f2a5e6f7179740</string>
</dict>
</plist>